.contenedor{
    width: 8rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titulo{
    width: 90%;
    height: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.portada{
    width: 7rem;
    height: 7rem;
}
.datos{
    width: 100%;
    height: 1.5rem;
}
.orden{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.paginas{
    width: 15%;
    font-size: .5rem;
}
.costo{
    width: 25%;
    font-size: .8rem;
}
.clasificacion{
    width: 50%;
    font-size: 1rem;
}